body {

}

.hero-image {
    background-image:url("pace.jpg");
    height: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
color: antiquewhite;
text-align: center;

}

"Ha! lahat ay naniniwala sa bawat salitang sinasabi ko. Isang ngiti lang at isang talata mula sa Bibliya, at iisipin nila na ako ay isang santo."-

"Alam lang talaga ng ilang tao kung ano ang nangyayari kapag naka-off ang camera... ang mga deal, ang mga kasinungalingan, at ang mga sikreto. Pero sino ang nagtatanong sa akin? sino ang huhusga sa akin? Ipinakikita ko lang ang magagandang bagay na ginagawa ko, kahit na ano. Ako ang boses na pinakikinggan nila... at hindi nila malalaman kung sino ang tunay na makasalanan sa likod ng sermon."
